

body {
  background: linear-gradient(180deg, black 40%, white);
  display: flex;
  justify-content: center;

}

section {

  background: linear-gradient(180deg,white 10%, black);
  width: 850px;
  margin: 7px;
  
}
video{

  height: 200px;
  width: 200px;
}
.special1{

  
  height: 200px;
  width: 200px;
  position:absolute;
  margin-left: 50px;
  margin-top: 10px;

}
.special2{

  border: solid ;
  height: 200px;
  width: 200px;
  position:absolute;
  margin-left: 600px;
  margin-top: 10px;
}


h1,
h2 {
  margin: 0;


}

.g {}

h1 {
  font-size: 30px;
  color: black;
  display: flex;
  justify-content: center;
}

h2 {
  color:black;
  display: flex;
  justify-content: center;

}

img {

  margin: 20px;
  border-radius: 50%;
  width: 120px;
}

p {

  color: white;
  display: flex;
  justify-content: center;
  padding: 10px;
}

.a {
  display: flex;
  justify-content: center;
}
a:hover{
  background-color: grey;
  
}


.d {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center
}

a {
  color: white;
  display: flex;
  justify-content: space-around;
  padding: 10px;
  width: 200px;
  border-radius: 5px;
  background-color: rgb(6, 6, 6);
}

.p {

  padding: 10px;

}

.formulaire {

  color: aliceblue;
}