*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
    
}

body{
  height: 200vw;
  background:linear-gradient(black, white);
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}


.photo{
  height: 10rem;
  width: 8rem;
  border-radius: 50%;
  margin-top: 20px;
}

.intro{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
}
.name{
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(236, 33, 33);
}

ol{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 25px;
  
  
}
a{
  color: black;
  background-color: white;
  border-radius: 7%;
  padding: 5px;
  box-shadow: 0 0 0 0 rgba(255, 71, 84, .7);
  animation: battement 2s infinite cubic-bezier(.66, 0, 0, 1);
  transition: transform 2s;
}

@keyframes battement {
  to {
    box-shadow: 0 0 0 15px rgba(255, 71, 84, 0);
  }
}

a:hover{
  background-color: red;
  animation:rotating 2s linear;
} 


@keyframes rotating {
  from {
    transform: rotate(-15deg);
  }
  to {
    transform: rotate(15deg);
  }
}
.rotating {
  animation: rotating 1s linear infinite;
}